<h1>Users</h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <p>image</p>
    <%= attachment_image_tag user, :profile_image, :file, 60, 60, fallback: "no_image.jpg" %>
    <p>name</p>
    <% user.name %>
    <p></p>
    <%= link_to "show", user_path(user) %>
  </li>

  <% end %>
</ul>